# Visual Studio files
.vscode/
.vs/
*.suo
*.user
*.sln.docstates

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates


# CLion files
.idea/
*.iml
.cmake/
CMakeLists.txt.user

# Compiled binaries
bin/
out/
